<!-- ABOUT US-->


<section class="banner">

  <div class="container">   
   <div class="col-md-12 text-center">
      <h2>We are growing non-profits' community impact through access to the right skills and talent.</h2>
    </div>
  </div>


</section>

<section class="about-us-1">

    <div class="container">

      <!-- Page Title -->
      
          <h2>About</h2>
          <br>

        <div class="row">
            <!-- Who We Are-->
            <div data-scroll-reveal="wait .25s, enter left " class="col-sm-6">
                <h5>Who We Are</h5>
                <p>We are a collection of highly-skilled volunteer professionals in Canada who provide pro-bono consulting and professional services to non-profits.The clients we serve are our Community Partners. We design strategies, systems and processes to make their work and impact the very best it can be. The end result is an enriching experience for our volunteer consultants, and important efficiency and growth improvements for our Community Partners.</p>
            </div> 

            <!-- Goals -->
            <div data-scroll-reveal="wait .5s, enter right" class="col-sm-6">
                <h5>What We Hope to Achieve</h5>
                <p>When a project concludes, we leave our Community Partners with the training and resources they need to implement positive change. We also leave them with a plan on how to track these improvements. We check-up on Community Partners and provide periodic reviews to enable steady improvement. Community Seed consultants get an incredibly rewarding experience, working with top peers in their respective fields to achieve meaningful change.</p>
            </div>

        </div>

        <br/><br/>

        <div data-scroll-reveal="wait .75s">
            <h5>Vision</h5>
            <p>To become a non-profit sector partner and primary knowledge source; to facilitate growth in shared value between core non-profit stakeholders; to provide better value to volunteers, donors, and communities who support a charitable cause. </p> 
        </div>

        <div data-scroll-reveal="wait .75s">
            <h5>Mission</h5>
            <p>To improve community organizations in a measurable way through the provision of pro-bono consulting services and thought leadership. </p> 
        </div>
        <br/><br/>

        <div data-scroll-reveal="wait .75s">

            <h5>Core Values</h5>

        </div>
        <br/>

        <div data-scroll-reveal class="row">
            <div class="col-md-3 text-center">
                <img src="http://placehold.it/100x100&text=icon" alt="placehold.it" class="img-circle">
                <h5>Measurable Impact</h5>
                <p>We develop pragmatic, outcome-focused solutions that drive value creation and materially impact organizational constituents of the Community Partners we serve.</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="http://placehold.it/100x100&text=icon" alt="placehold.it" class="img-circle">
                <h5>Partnership</h5>
                <p>We partner with volunteers to provide the best development opportunities for improving quality of life domestically and abroad.</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="http://placehold.it/100x100&text=icon" alt="placehold.it" class="img-circle">
                <h5>Stewardship</h5>
                <p>We provide professionals a path towards leveraging their skills to build stronger non-profits that achieve greater impact in their communities.</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="http://placehold.it/100x100&text=icon" alt="placehold.it" class="img-circle">
                <h5>Innovation</h5>
                <p>We provide thought leadership to Community Partners and offer unique solutions towards organizational goal achievement and growth.</p>
            </div>
        </div>

    </div>
</section>

     
<!-- SERVICES -->

<section class="services-2">
  <div class="light-gray-bg">
    <%= render 'shared/services' %>
  </div>

</section>


<!-- OUR TEAM -->
<section class="team-2">
    <div class="container our-team-header">
        <div data-scroll-reveal="enter from the left" class="row">
            <div class="col-md-5">
                <h2>Our Team</h2>
                <h6>To make it all happen, we have a core group of dedicated volunteers. This passionate group continues to grow Community Seed.</h6>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div data-scroll-reveal="enter from the left" class="col-md-3 person">
                <img src="https://s3.amazonaws.com/communityseed/Our-team/Markbw.jpg" alt="placehold.it">
                <h5>Mark Kearns</h5>
<!--                 <small>Person Role</small> -->
                <p>As a Senior Accountant at KPMG Enterprise, Mark leads audits of a variety of companies in the private and NPO space. Mark has experience in helping these small businesses and NPO’s streamline their accounting and finance processes and practices. Mark founded and ran the inaugural Queen’s Micro-credit Challenge, which benefitted Kiva.</p>
                <!--add social media links to each profile -->
<!--                             <ul class="social">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul> -->
            </div>
            <div data-scroll-reveal="wait .25s, enter from the top" class="col-md-3 person">
                <img src="https://s3.amazonaws.com/communityseed/Our-team/Shannonbw.jpg" alt="placehold.it">
                <h5>Shannon Hamilton</h5>
                <p>As a Management Consultant at Accenture, Shannon’s area of focus is in supporting clients on strategic, growth-driven initiatives. She was involved in several non-profit leadership roles prior to founding Community Seed. Currently, she is on an advisory committee to the board of YMCA Toronto, a mentor for young women through QWIL and actively fundraises for cancer research.</p>
            </div>
            <div data-scroll-reveal="wait .5s" class="col-md-3 person">
                <img src="https://s3.amazonaws.com/communityseed/Our-team/Geoffbw.jpg" alt="placehold.it">
                <h5>Geoff Fudurich</h5>
                <p>Geoff works as a Management Consultant at Accenture who partners with clients to plan and deliver initiatives aimed at improving performance across business units. Geoff leads a corporate citizenship initiative at Accenture aimed at developing professional skills among rural, aboriginal youth. He has also volunteered with Habitat for Humanity.</p>
            </div>
            <div data-scroll-reveal="wait .75s, enter from the right" class="col-md-3 person">
                <img src="https://s3.amazonaws.com/communityseed/Our-team/Hilarybw.jpg" alt="placehold.it">
                <h5>Hilary Watson</h5>
                <p>Hilary is a Senior Manager of Real Time Marketing at CIBC working on the bank’s strategy in this area, as well as working as a subject matter expert on large projects with multiple stakeholders to drive results. She is also a former management consultant, and previously worked with the World Food Program at the UN. She is a board member for Microskills, a local Toronto non-profit.</p>
            </div>
        </div>
        <div class="row">
            <div data-scroll-reveal="wait .25s, enter from the top" class="col-md-3 person">
                <img src="https://s3.amazonaws.com/communityseed/Our-team/Deepabw.jpg" alt="placehold.it">
                <h5>Deepa Mensinkai</h5>
                <p>As a Business Analyst at Accenture, Deepa works on a variety of projects gaining breadth and depth across industry and functional areas. Her experience has been focused on improving customer service and the overall customer experience through digital channels. While at Accenture, Deepa has been involved in mentoring university students as they complete pro-bono consulting projects for local not-for-profits.</p>
            </div>
            <div data-scroll-reveal="wait .5s" class="col-md-3 person">
                <img src="https://s3.amazonaws.com/communityseed/Our-team/Cindybw.jpg" alt="placehold.it">
                <h5>Cindy Yang</h5>
                <p>Cindy is a Marketing Intelligence Manager at TELUS, providing insights on revenue trends in the Telecom industry. Her experience includes creating dashboards that highlight various financial perspectives, advising Marketing leaders on customer behaviour trends, and forecasting growth across revenue streams. Cindy is a part of a community action team at TELUS, which has taken on projects at St. Alban’s Boys and Girls Club, the United Way, the Toronto Zoo, and more. In 2013, Cindy began creating infographics about the Toronto community to help bring awareness to its unique and diverse activities.</p>
            </div>
            <div data-scroll-reveal="wait .75s, enter from the right" class="col-md-3 person">
                <img src="https://s3.amazonaws.com/communityseed/Our-team/Ozbw.jpg" alt="placehold.it">
                <h5>Ozgur Nazilli</h5>
                <p>Oz has been a part of the tech world for over five years. He started his career at Microsoft, with their online strategy team, followed by stints at organizations both big and small. His most recent roles in Toronto have included a product strategy role at a mobile startup and a marketing manager role at a software company. Currently, he is on the advisory board of a non-profit business incubator, and also leads Hackernest Toronto, the largest tech community in Canada.</p>
            </div>
            <div data-scroll-reveal="wait .75s, enter from the right" class="col-md-3 person">
                <img src="https://s3.amazonaws.com/communityseed/Our-team/Kareenbw.jpg" alt="placehold.it">
                <h5>Kareen Sarhane</h5>
                <p>Kareen works as an Associate Consultant in Aimia’s Proprietary Loyalty Strategy practice, designing loyalty programs and customer relationship strategies for some of the largest retailers and financial institutions in Canada. Kareen is an active volunteer with Free the Children and previously travelled to the Philippines to work with homeless youth.</p>
            </div>
        </div>
        <div class="row">
            <div data-scroll-reveal="wait .25s, enter from the top" class="col-md-3 person">
                <img src="https://s3.amazonaws.com/communityseed/Our-team/Leannebw.jpg" alt="placehold.it">
                <h5>Leanne Shapton</h5>
                <p>Leanne has over 3 years in the health care industry with experience as a consultant and researcher. As an analyst at Podium Strategic Partners, Leanne has supported the development of more than 20 portfolio and brand plans over the past two years. She holds a Masters of Management of Innovation from University of Toronto. Leanne helped organize the 3rd Canadian Science Policy Conference, a national platform for discussing current and emerging issues in science, technology, and innovation policy.</p>
            </div>
            <div data-scroll-reveal="wait .5s" class="col-md-3 person">
                <img src="https://s3.amazonaws.com/communityseed/Our-team/Jeremybw.jpg" alt="placehold.it">
                <h5>Jeremy Shell</h5>
                <p>Jeremy is a Principal of Meems Inc., a boutique corporate media and communications firm. Jeremy works with brands to create effective media that generates results. Jeremy also produces feature films. He has coordinated hundreds of media projects varying from film, to television commercials, to web video production, to graphic design, and re-branding efforts. Jeremy has authored a white paper and corporate documents for The Sandbox Project and has worked with the Asthma Society of Canada to build successful grant proposals and promotional materials.</p>
            </div>
            <div data-scroll-reveal="wait .75s, enter from the right" class="col-md-3 person">
                <img src="https://s3.amazonaws.com/communityseed/Our-team/Shazbw.jpg" alt="placehold.it">
                <h5>Shazia Ladak</h5>
                <p>Shazia helps clients across multiple industries to improve their customer experience, save costs and ultimately deliver greater value as a Management Consultant at Accenture. Through a program run by Accenture, Shazia worked with and mentored students at Western University to deliver a pro bono consulting project for a non-profit that assists single mothers. While in university, Shazia travelled to Macedonia and Russia to teach students core business concepts; she also consulted young entrepreneurs to help improve their businesses.</p>
            </div>
            <div data-scroll-reveal="wait .75s, enter from the right" class="col-md-3 person">
                <img src="https://s3.amazonaws.com/communityseed/Our-team/Caseybw.jpg" alt="placehold.it">
                <h5>Casey Field</h5>
                <p>As a Consultant at Bain & Company, Casey has helped establish strategic direction for companies across a variety of industries, including financial services, mining, airlines, and consumer goods. He is excited to bring his experience in growth strategy, cost reduction, negotiation strategy, and resource allocation to the non-profit sector in Toronto.</p>
            </div>
        </div>
        <div class="row">
            <div data-scroll-reveal="wait .25s, enter from the top" class="col-md-3 person">
                <img src="https://s3.amazonaws.com/communityseed/Our-team/Andre+Diasbw.jpg" height="130" alt="placehold.it">
                <h5>Andre Dias</h5>
                <p>Andre, a consultant at the Boston Consulting Group, holds a PhD in Nutrigenomics from University of Toronto. He previously founded and ran his own consulting business, the Graduate Consulting Group (GCG), which helps project leaders make informed decisions by providing quality, cost effective consulting services. He also recently completed the Action Canada fellowship.</p>
            </div>
            <div data-scroll-reveal="wait .5s" class="col-md-3 person">
                <img src="https://s3.amazonaws.com/communityseed/Our-team/Charbw.jpg" alt="placehold.it">
                <h5>Charlotte McEwen</h5>
                <p>Charlotte is a management consultant in Accenture’s Sales and Customer Service practice. Charlotte’s project experience includes operating model development, organizational design, and customer experience design. She has worked across industries including higher education, government, retail, and telecommunications. At university Charlotte coordinated events to connect students with alumni working in the not-for-profit sector. Charlotte has also been involved with the organization of not-for-profit conferences on environmental and women’s issues.</p>
            </div>
            <div data-scroll-reveal="wait .75s, enter from the right" class="col-md-3 person">
                <img src="https://s3.amazonaws.com/communityseed/Our-team/Sonalibw.jpg" alt="placehold.it">
                <h5>Sonali Fonseca</h5>
                <p>Sonali is a senior consultant with Monitor Deloitte. During her time at the firm she has worked across multiple industries, including legal services, health care, financial services and insurance. She has experience in strategic planning, expansion strategies and implementation. Outside the firm Sonali has extensive experience volunteering with non-profits including Habitat for Humanity, Wesley Urban Ministries and the Heart and Stroke Foundation. Sonali has also led several volunteer teams in developing strategies for non-profits to assist organizations in expanding their funding sources, growing their service portfolio and improving volunteer retention. In her spare time Sonali enjoys running, photography and great food.</p>
            </div>
            <div data-scroll-reveal="wait .75s, enter from the right" class="col-md-3 person">
                <span class="glyphicon glyphicon-user"></span>
                <h5>Michelle Seto</h5>
                <p>Michelle is an articling student at Bennett Jones LLP, specializing in corporate commercial and commercial real estate matters. She obtained her law degree at the University of Toronto and her Bachelors of Commerce, with a focus in Real Estate and Development, at the University of British Columbia. Michelle participated in the NAIOP Commercial Real Estate development challenge where her team drafted the winning proposal for a site in Seattle, Washington. She has also co-founded the Vancouver chapter of 5 Days for the Homeless campaign to raise funds and awareness for homeless youth.</p>
            </div>
        </div>
        <div class="row">
            <div data-scroll-reveal="wait .5s" class="col-md-3 person">
                <img src="https://s3.amazonaws.com/communityseed/Our-team/Biancabw.jpg" alt="placehold.it">
                <h5>Bianca Thomas</h5>
                <p>Bianca is an articling student at Oatley, Vigmond LLP, a civil litigation firm specializing in personal injury and medical malpractice law. Prior to obtaining her Juris Doctor at University of Toronto's Faculty of Law, she completed a Bachelors in Economics and Management at Bocconi University, in Milan, Italy. During law school, Bianca founded a volunteer program at a retirement centre, earning her the Volunteering England Gold Award. She was also a member of the Public Legal Education Committee of Justice for Children and Youth, a legal clinic that advises youths of their legal rights.</p>
            </div>
            <div data-scroll-reveal="wait .75s, enter from the right" class="col-md-3 person">
                <img src="https://s3.amazonaws.com/communityseed/Our-team/Sousabw.jpg" alt="placehold.it">
                <h5>Michael Sousa</h5>
                <p>Michael is an accomplished producer; most recently with films Anything Goes (distributed by eOne) which won best feature film at the Moving Images Film Festival, and Tapped starring Anderson Silva, Lyoto Machida and Michael Biehn (Terminator/Aliens) currently distributed worldwide.He has spent the past five years producing commercials and other corporate media for numerous clients. Michael also provided production services for the Heart and Stroke’s Calendar Lottery through Flasharilla.</p>
            </div>
            <div data-scroll-reveal="wait .75s, enter from the right" class="col-md-3 person">
                <span class="glyphicon glyphicon-user"></span>
                <h5>Alex Cookson</h5>
                <p>As a Manager at Performance Measurement & Management (pm2), Alex has helped developed over 100 Balanced Scorecards at several dozen organizations. Alex has experience working for clients in a breadth of industries and sectors, including not-for-profit, public sector, education, financial services, energy, manufacturing, and news & information.</p>
            </div>
        </div>
    </div>
</section>
