<!-- SERVICES -->


        <div class="container">
            <div data-scroll-reveal="enter from the left" class="row">
                  <div class="col-md-5">
                      <h2>Our Services</h2>
                  </div>
            </div>
        </div>
      <div data-scroll-reveal class="container">
          <div class="row">
                <div class="col-md-6">
                    <div class="row service-item">
                        <div class="col-md-3 service-icon">
                            <span class="fa fa-3x fa-sitemap"></span>
                        </div>
                        <div class="col-md-9">
                            <h5>Organizational Development</h5>
                        </div>
                    </div>
                    <div class="row service-item">
                        <div class="col-md-3 service-icon">
                           <span class="fa fa-3x fa-line-chart"></span>
                        </div>
                        <div class="col-md-9">
                            <h5>Strategic Planning</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row service-item">
                        <div class="col-md-3 service-icon">
                            <span class="fa fa-3x fa-dashboard"></span>
                        </div>
                        <div class="col-md-9">
                            <h5>Performance Measurement</h5>
                        </div>
                    </div>
                    <div class="row service-item">
                        <div class="col-md-3 service-icon">
                            <span class="fa fa-3x fa-users"></span>
                        </div>
                        <div class="col-md-9">
                            <h5>Human Capital</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row service-item">
                        <div class="col-md-3 service-icon">
                            <span class="fa fa-3x fa-dollar"></span>
                        </div>
                        <div class="col-md-9">
                            <h5>Funding and Marketing Strategy</h5>
                        </div>
                    </div>
                    <div class="row service-item">
                        <div class="col-md-3 service-icon">
                            <span class="fa fa-3x fa-file-text"></span>
                        </div>
                        <div class="col-md-9">
                            <h5>Market Studies and Research</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row service-item">
                        <div class="col-md-3 service-icon">
                            <span class="fa fa-3x fa-star"></span>
                        </div>
                        <div class="col-md-9">
                            <h5>New Services Development</h5>
                        </div>
                    </div>
                </div>

          </div>
        </div>
    </div>
</section>