<section class="contact-1">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div data-scroll-reveal class="row">
                    <div class="col-md-12 text-center">
                        <h2>Get In Touch</h2>
                        <img src="https://s3.amazonaws.com/communityseed/commseedlogoleaf.gif" alt="placehold.it" height="50px" class="placehold">
                    </div>
                </div>
                <div class="row">
                    <div data-scroll-reveal="enter from the left" class="col-md-7">
                        <form class="contact-form" role="form" action="post">
                            <input name="name" id="name" class="form-control" type="text" placeholder="Name">
                            <input name="mail" id="mail" class="form-control" type="text" placeholder="Your e-mail">
                            <input name="website" id="website" class="form-control" type="text" placeholder="Website">
                            <textarea name="comment" id="comment" class="form-control" rows="5" placeholder="Message"></textarea>
                            <button type="submit" name="contact-submit" id="submit_contact" class="btn btn-primary btn-block">Submit</button>
                        </form>
                    </div>
                    <div class="col-md-5">
                        <div data-scroll-reveal="wait .25s, enter from the top"  class="contact-info">
                            <!-- Start Contact Details  -->
                            <ul class="contact-list">
                                <li><i class="fa fa-envelope-o"></i><a href="mailto:info@communityseedconsulting.com">info@communityseedconsulting.com</a></li>
                            </ul>
                            <!-- End Contact Details  -->
                        </div>
<!--                         <hr data-scroll-reveal="wait .25s, enter from the top" >
                        <div data-scroll-reveal="wait .5s, enter from the bottom" class="social">
                            <h5>Find us online</h5>
                            <!-- Start  Social Links -->
<!--                             <ul class="social">
                                <li class="facebook"> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                                <li class="twitter"> <a href="#"> <i class="fa fa-twitter"></i> </a> </li>
                                <li class="google-plus"> <a href="#"> <i class="fa fa-google-plus"></i> </a> </li>
                                <li class="linkedin"> <a href="#"> <i class="fa fa-linkedin"></i> </a> </li>
                                <li class="youtube"> <a href="#"> <i class="fa fa-youtube-play"></i> </a> </li>
                            </ul> -->
                            <!-- End Social Links  -->
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>