
<section class="banner">

  <div class="container">   
   <div class="col-md-12 text-center">
      <h2>We bring fresh ideas and perspectives to non-profits.</h2>
    </div>
  </div>

</section>



<section class="contact-2 light-gray-bg">
    <div class="container">
        <div data-scroll-reveal class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center">
                <h4>Community Partner Form</h4>
                <br/>
                <form class="contact-form" role="form" action="post">
                    <input name="name" id="name" class="form-control" type="text" placeholder="Name">
                    <input name="position" id="position" class="form-control" type="text" placeholder="Position">
                    <input name="mail" id="mail" class="form-control" type="text" placeholder="E-mail">
                    <input name="company" id="company" class="form-control" type="text" placeholder="Company">
                    <textarea name="comment" id="comment" class="form-control" rows="5" placeholder="Message"></textarea>
                    <button type="submit" name="contact-submit" id="submit_contact" class="btn btn-primary btn-block">Submit</button>
                </form>
<!--                 <ul class="social">
                    <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble fa-lg"></i></a></li>
                </ul> -->
            </div>
        </div>
    </div>
</section>

