<nav id="navigation" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to home_path, :class => "nav-logo" do %><%= image_tag("logo_no_bg.gif", height: '30')%><% end %> 
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="active hidden"></li>
				<li><a href="#who-we-are">Who We Are</a></li>
				<li><a href="#community-partners">Community Partners</a></li>
				<li><a href="#volunteer">Volunteer</a></li>
				<li><a href="#supporters">Supporters</a></li>
				<li><a href="#contact-us">Contact Us</a></li>
			</ul>

		</div><!-- /.navbar-collapse -->
	</div><!-- /.container -->
</nav>


<div class="welcome-2">
	<div class="container center-vertically">
		<h1 data-scroll-reveal>Growing Community Impact</h1><br>
		<div data-scroll-reveal="wait .5s" href="#" class="fa fa-arrow"></div>
	</div>
</div>

<section class="services-1">
	<div data-scroll-reveal class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-4 text-center">
				<img src="http://placehold.it/200x200&text=icon" alt="placehold.it" class="img-circle">
				<h4>People</h4>
				<p>We are experienced volunteers</p>
			</div>
			<div class="col-md-4 text-center">
				<img src="http://placehold.it/200x200&text=icon" alt="placehold.it" class="img-circle">
				<h4>Partner</h4>
				<p>Who partner when non-profits</p>
			</div>
			<div class="col-md-4 text-center">
				<img src="http://placehold.it/200x200&text=icon" alt="placehold.it" class="img-circle">
				<h4>Solution</h4>
				<p>To deliver solutions that make a difference</p>
			</div>
		</div>
	</div>
</section>

<section>
	<!--SERVICES -->
</section>


<section>
	<!--TESTIMONIALS -->
</section>
	
	<!--CONTACT FORM -->
<section class="call-to-action-1 light-gray-bg text-center">
	<div class="container">
		<div data-scroll-reveal class="row">
			<div class="row">
				<div class="col-lg-6">
					<p>Interested in volunteering with us?</p>
				</div>
				<div class="col-lg-6">
					<p>Interested in partnerning with us?</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2 col-lg-offset-2">
					<a href="#" data-id="section6" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target=".bs-example-modal-lg">
						Start now
					</a>

					<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-lg">
					  	<div class="modal-content">
						  	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						        <h4 class="modal-title">Volunteer Form</h4>
					     	</div>
							<br/>
							<div class="modal-body">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label for="inputName" class="col-sm-2 control-label">Name</label>
										<div class="col-sm-10">
										  <input type="name" class="form-control" id="inputName" placeholder="Name">
										</div>
								  	</div>
								  	<div class="form-group">
										<label for="inputEmail" class="col-sm-2 control-label">Email</label>
										<div class="col-sm-10">
									  		<input type="email" class="form-control" id="inputEmail" placeholder="Email">
										</div>
								  	</div>
								  <div class="form-group">
									<label for="inputProfession" class="col-sm-2 control-label">I am...</label>
									<div class="col-sm-10">
										<select class="form-control">
										  <option>a student</option>
										  <option>a working professional</option>
										  <option>other</option>
										</select>
									</div>
								  </div>
								  <div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
									  <button type="submit" class="btn btn-primary btn-block">Submit</button>
									</div>
								  </div>
								</form>
							</div>
						</div>
					  </div>
					</div>

				</div>
				<div class="col-lg-2 col-lg-offset-4">
					<a href="#" data-id="section6" class="btn btn-primary btn-lg btn-block">
						Let's talk
					</a>
					
					<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-lg">
					  	<div class="modal-content">
						  	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						        <h4 class="modal-title">Community Partner Form</h4>
					     	</div>
							<br/>
							<div class="modal-body">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label for="inputName" class="col-sm-2 control-label">Name</label>
										<div class="col-sm-10">
										  <input type="name" class="form-control" id="inputName" placeholder="Name">
										</div>
								  	</div>
								  	<div class="form-group">
										<label for="inputPosition" class="col-sm-2 control-label">Position</label>
										<div class="col-sm-10">
										  <input type="name" class="form-control" id="inputPosition" placeholder="Name">
										</div>
								  	</div>
								  	<div class="form-group">
										<label for="inputEmail" class="col-sm-2 control-label">Email</label>
										<div class="col-sm-10">
									  		<input type="email" class="form-control" id="inputEmail" placeholder="Email">
										</div>
								  	</div>

									<div class="form-group">
										<label for="inputCompany" class="col-sm-2 control-label">Company</label>
										<div class="col-sm-10">
										  <input type="name" class="form-control" id="inputCompany" placeholder="Company Name">
										</div>
								  	</div>
								  <div class="form-group">
									<label for="inputSize" class="col-sm-2 control-label">Size</label>
									<div class="col-sm-10">
										<select class="form-control">
										  <option>< 10 employees</option>
										  <option>11 - 100 employees</option>
										  <option>> 100 employees</option>
										</select>
									</div>
								  </div>
								  <div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
									  <button type="submit" class="btn btn-primary btn-block">Submit</button>
									</div>
								  </div>
								</form>
							</div>
						</div>
					  </div>
					</div>




				</div>
			</div>
		</div>
	</div>
</section>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/0.1.2/scrollReveal.min.js"></script>
<script>
// The starting defaults.
var config = {
		after: '0s',
		enter: 'bottom',
		move: '24px',
		over: '0.66s',
		easing: 'ease-in-out',
		viewportFactor: 0.33,
		reset: false,
		init: true
	  };

window.scrollReveal = new scrollReveal( config );
</script>