/* Green button 
======================================== */
body{

	.btn-green{
	background-color: #007F01;
	border-color: #007F01;
	color: white;
	}

	.btn-green:hover{
		background-color: #9cce2a;
		border-color: #9cce2a;
		color: white;
	}


}
