/* Contact 2
======================================== */
.contact-2 .col-md-8{
	background-color: #ffffff;
}

.contact-2 h4{
	margin-top: 40px;
}

.contact-2 p{
	margin-bottom: 40px;
}

.contact-2 .contact-form input[type="text"], 
.contact-2 .contact-form textarea{
	width: 100%;
	padding: 20px 20px;
	display: block;
	margin-bottom: 15px;
}

// .contact-2 .social{
// 	list-style-type: none;
// 	width: 100%;
// 	padding: 30px 0;
// 	margin: 15px auto;
// 	background-color: #f4f4f4;
// }

// .contact-2 .social li{
// 	display: inline-block;
// }

// .contact-2 .social li{
// 	display: inline-block;
// 	padding: 0 30px;
// }

// .contact-2 .social li:first-child{ padding-left: 0; }

// .contact-2 .social li:last-child{ padding-right: 0; }

// .contact-2 .social li a .fa{
// 	color: #999;
// 	transition: color 0.2s;
// }

// .contact-2 .social li a:hover .fa-twitter{
// 	color: #4099FF;
// }

// .contact-2 .social li a:hover .fa-facebook{
// 	color: #3D62B3;
// }

// .contact-2 .social li a:hover .fa-dribbble{
// 	color: #C73B6F;
// }

// .contact-2 .social li a:hover .fa-twitter{
// 	color: #4099FF;
// }

// .contact-2 .social li a:hover .fa-twitter{
// 	color: #4099FF;
// }