/* Services 2
======================================== */
.services-2 {

	.light-gray-bg{
		padding: 60px 0;
	}

	.service-item{
		margin-bottom: 30px;
	}
	
	.service-icon{
		text-align:center;
		color:#454c47;
	}

	 h2{
		margin-bottom: 50px;
		color: #9cce2a;
	}
}